.about-container-block {
   h3 {
      text-align: center;
      font-family: $font4;
      color: $color3;
      margin: 10px auto;
      border-bottom: 2px solid $color1;
      width: 160px;
   }
}

.about-container {
   .about {
      width: 80%;
      display: grid;
      justify-content: center;
      grid-template-columns: 65% 35%;
      margin: 30px auto;
      gap: 20px;

      @media screen and (max-width:750px) {
         grid-template-columns: 1fr;

         .about-right {
            img {
               height: 50%;
            }
         }
      }

      .about-left {
         font-family: $font4;
         color: $color3;
         text-align: center;
         opacity: .7;
         text-align: left;
      }

      .about-right {
         img {
            object-fit: cover;
            display: block;
            width: 100%;
            min-width: 30%;
            height: 300px;
            background: paleturquoise;
            transition: .4s ease;
            cursor: pointer;
            box-shadow: 15px -11px 3px 0px $color1;
         }
      }
   }
}