.form-container {

   padding: 10px;

   h3 {
      transition: .3s ease;
      text-align: center;
      font-family: $font2;
      color: $color3;
      margin: 50px auto;
      width: 160px;
      border-bottom: 3px solid $color1;
      display: block;
      padding: 10px;
   }

   form {
      display: grid;
      margin: 10px auto;
      justify-content: center;
      transition: .3s ease;
      position: relative;

      label {
         font-family: $font4;
         color: #f1f1f1b2;
         font-size: 1rem;

      }

      input {
         transition: .3s ease;
         width: 400px;
         padding: 10px;
         margin: 5px 0;
         border: 4px;
         outline: none;
         border-radius: 10px;
         font-size: 1rem;
         font-family: $font4;

         &::placeholder {
            font-size: 1rem;
            font-family: $font4;
         }
      }

      textarea {
         width: 100%;
         outline: none;
         border-radius: 10px;
         font-size: 1rem;
         font-family: $font4;

         &::placeholder {
            font-size: 1rem;
            font-family: $font4;
         }
      }

      button {
         width: 200px;
         padding: 10px;
         margin: 5px 0;
         color: #f1f1f1;
         background: $color1;
         border-radius: 5px;
         border: transparent;
         font-size: 1.1rem;
         transition: .3s ease;


         &:hover {
            cursor: pointer;
            transform: scale(1.077);
         }

      }
   }
}