.profil-container {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .profil {
      text-align: center;

      h2 {
         &::after {
            content: "javascript Réact Js,Rédux,typeScript";
            color: $color1;
            margin: 0 7px;
         }

         @media screen and (max-width:700px) {
            font-size: .9rem;
         }
      }

      h1 {
         @media screen and (max-width:700px) {
            font-size: 3rem;
         }

         @media screen and (max-width:800px) {
            font-size: 4rem;
         }

         @media screen and (max-width:700px) {
            font-size: 2rem;
         }

         @media screen and (max-width:330px) {
            font-size: 1.7rem;
         }
      }
   }



}