.project-item {
   transition: 0.3s ease;
   margin: 10px auto;
   overflow: hiden;
   height: 400px;
   display: grid;
   grid-template-columns: 65% 35%;

   @media screen and (max-width:1090px) {
      grid-template-columns: 60% 40%;
   }

   @media screen and (max-width:911px) {
      grid-template-columns: 55% 45%;
   }

   @media screen and (max-width:800px) {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
   }
}