.tools-container {
   .tools {

      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s ease;
      flex-wrap: wrap;

      img {
         margin: 0 6px;
         width: 50px;
         height: 50px;
         transition: .3s ease;
         cursor: pointer;
      }
   }
}