@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@100;200;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p::-moz-selection, h2::-moz-selection, h1::-moz-selection {
  background: #1cc;
}

p::selection,
h2::selection,
h1::selection {
  background: #1cc;
}

body {
  scroll-behavior: smooth;
}

.navigation {
  width: 100%;
  z-index: 10000;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background: #11c784;
  position: fixed;
  transition: 0.3s ease;
}
.navigation #toogle {
  font-size: 2.2rem;
  cursor: pointer;
}
.navigation .fa-bar {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 30px;
  display: none;
  transition: 0.3s ease;
}
.navigation .fa-bar i {
  font-size: 1.8rem;
  color: #f1f1f1;
  cursor: pointer;
}
@media screen and (max-width: 470px) {
  .navigation .fa-bar {
    display: block;
  }
}
.navigation .nav-active {
  display: block;
}
.navigation .items-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 470px) {
  .navigation .items-container {
    display: none;
  }
}
.navigation .nav-active {
  color: #0a192f;
}
.navigation a {
  margin: 0 10px;
  color: rgb(245, 247, 249);
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
  text-transform: uppercase;
}
.navigation a:hover {
  font-weight: bold;
  font-size: 1.2rem;
  transform: scale(1.066);
}
@media screen and (max-width: 540px) {
  .navigation a {
    font-size: 0.9rem;
  }
}

.profil-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profil-container .profil {
  text-align: center;
}
.profil-container .profil h2::after {
  content: "javascript Réact Js,Rédux,typeScript";
  color: #11c784;
  margin: 0 7px;
}
@media screen and (max-width: 700px) {
  .profil-container .profil h2 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 700px) {
  .profil-container .profil h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .profil-container .profil h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .profil-container .profil h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 330px) {
  .profil-container .profil h1 {
    font-size: 1.7rem;
  }
}

.about-container .about {
  width: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: 65% 35%;
  margin: 0px auto;
  gap: 20px;
}
@media screen and (max-width: 750px) {
  .about-container .about {
    grid-template-columns: 1fr;
  }
  .about-container .about .about-right img {
    height: 50%;
  }
}
.about-container .about .about-right img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  min-width: 30%;
  height: 300px;
  background: paleturquoise;
  transition: 0.4s ease;
  cursor: pointer;
  box-shadow: 15px -11px 3px 0px #11c784;
}

.form-container {
  padding: 10px;
}
.form-container h3 {
  transition: 0.3s ease;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  color: rgb(245, 247, 249);
  margin: 50px auto;
  width: 160px;
  border-bottom: 3px solid #11c784;
  display: block;
  padding: 10px;
}
.form-container form {
  display: grid;
  margin: 10px auto;
  justify-content: center;
  transition: 0.3s ease;
  position: relative;
}
.form-container form label {
  font-family: "Poppins", sans-serif;
  color: rgba(241, 241, 241, 0.6980392157);
  font-size: 1rem;
}
.form-container form input {
  transition: 0.3s ease;
  width: 400px;
  padding: 10px;
  margin: 5px 0;
  border: 4px;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.form-container form input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.form-container form input::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.form-container form textarea {
  width: 100%;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.form-container form textarea::-moz-placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.form-container form textarea::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.form-container form button {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  color: #f1f1f1;
  background: #11c784;
  border-radius: 5px;
  border: transparent;
  font-size: 1.1rem;
  transition: 0.3s ease;
}
.form-container form button:hover {
  cursor: pointer;
  transform: scale(1.077);
}

.networks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.networks-container #linkdin {
  color: rgb(35, 29, 104);
}
.networks-container #whatapps {
  color: rgb(40, 254, 40);
}
.networks-container #github {
  color: #333;
}
.networks-container #twitter {
  color: rgb(44, 148, 240);
}
.networks-container i {
  margin: 5px;
  padding: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.networks-container i:hover {
  transform: translateY(-5px);
}

.project-container {
  width: 100%;
  border: 1px solid rgba(241, 241, 241, 0.2392156863);
  transition: 0.3s ease;
  min-width: 300px;
  margin: 10px auto;
  border-radius: 8px;
  height: auto;
}
.project-container .content {
  padding: 10px;
}
.project-container .visit {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
}
.project-container #github {
  font-size: 1.5rem;
  color: #babfc6;
  padding: 10px;
}
.project-container #visiter {
  color: #f1f1f1;
  font-size: 1.1rem;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}
.project-container img {
  height: 70%;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-container img:hover {
  opacity: 0.7;
}
.project-container li {
  font-family: "Fira Sans", sans-serif;
  color: #f1f1f1;
  font-size: 0.9rem;
  list-style: none;
}
.project-container h5 {
  font-family: "Poppins", sans-serif;
  color: #11c784;
  font-size: 1.3rem;
  opacity: 0.8;
}
.project-container h4 {
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
  font-size: 1.3rem;
  padding: 6px 6px 0 0;
}
.project-container p {
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
}

.projects-container {
  width: 70%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio h1 {
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding-top: 70px;
}

.button-component {
  padding: 10px;
  background: #11c784;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.footer {
  background: #041023;
  height: 70vh;
  font-family: "Fira Sans", sans-serif;
  display: grid;
  grid-template-rows: 80% 20%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
}
.footer .rights {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(241, 241, 241, 0.6274509804);
  color: #f1f1f1;
}
.footer .rights p {
  font-size: 1rem;
  opacity: 0.3;
}
.footer .contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .footer .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer .contact-container p {
  font-size: 1.2rem;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 750px) {
  .footer .contact-container p {
    font-size: 1rem;
  }
}
.footer .contact-container span {
  color: #f1f1f1;
  opacity: 0.4;
  font-size: 0.8rem;
  margin: 5px 0;
}
.footer .contact-container .icon {
  margin: 0 10px;
}
.footer .contact-container .contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contact-container .contact-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.footer .contact-container .contact-github {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-container h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(245, 247, 249);
  margin: 70px auto;
  border-bottom: 2px solid #11c784;
  width: 180px;
}
.tools-container .tools {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  flex-wrap: wrap;
}
.tools-container .tools img {
  margin: 0 6px;
  width: 50px;
  height: 50px;
  transition: 0.3s ease;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */